APP_ENV=development
SECRET_KEY=replace-with-a-long-random-secret

SESSION_MAX_AGE=3600

R2_ENDPOINT_URL=https://<account_id>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=<r2_access_key_id>
R2_SECRET_ACCESS_KEY=<r2_secret_access_key>
R2_BUCKET_NAME=<r2_bucket_name>

CLOUDFLARE_ACCOUNT_ID=<cloudflare_account_id>
CLOUDFLARE_D1_DATABASE_ID=<d1_database_id>
CLOUDFLARE_API_TOKEN=<cloudflare_api_token_with_d1_edit_permission>
